@import "scss/_color.scss";
@import "scss/_font.scss";

*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url("../assets/img/images/header.jpg");
    background-repeat: no-repeat;
    background-position: top right;
}
.header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    "logo label"
    "events events"
    ;
    background: rgba($color: #000000, $alpha: 0.2)
}
header a {
    grid-area: logo;
    width: 80%;
    height: 40%;
    margin-left: 20%;
    margin-top: 15%;
}
.menu-toggle{
    margin-left: 60%;
    margin-top: 35%;
    width: 30%;
    height: 5%;
    grid-area: label;
}
.events{
    grid-area: events;
    
}

.logo{
    width: 100%;
}
.events img{
    width: 45%;
    margin-left: 20%;
    margin-top: 10%;

}
.dateInt{
    font-family: 'montserra';
    color: $blue;
}
.dateChar{
    font-family: 'maven';
    color: $blue;
}
.eventsTitle{
    margin-left: 42%;
}
.events p {
    display: none;
}
nav{
    display: none;
}
.menu-checkbox:checked ~ nav{
    display: block;
}



.menu-toggle span{
    
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: $blue;
}
.menu-checkbox{
    position: absolute;
    opacity: 0;
    top: -5000%;
}
.inputSee{
    width: 50%;
    height: 10%;
    margin-left: 25%;
    margin-top: 5%;
    border-radius: 100px 100px 100px 100px;
    border: none;
    background-color: $blue;
    color: white;
}
.inputSee:focus{
    border: none;
    outline: none;

}
.activitie img, .activitie div{
    display: none;
}
.activitie img{
    width: 80%;
    margin: auto;
}

.activitie{
    margin: 3% auto 0% auto;
    width: 80%;
    background-color: rgb(240, 240, 240);
    height: 100%;
    p{
        padding: 5% 0% 5% 0%;
        color: $blue;
        padding-left: 4%;
        font-weight: 500;
    }
    h4{
        padding-top: 5%;
        padding-left: 4%;
        color: $grey;
    }
}
.activitie:hover{
    background-color: $nav-mobile;
    img, div{
        display: block;
    }
    h4{
        color: rgb(202, 202, 202);
    }
}
.timeline{
    border: 1px solid $grey;
    width: 80%;
    margin: 5% auto 0 auto;
    height: 300px;
    p{
        margin-top: 5%;
    }

}
h3{
    color: $blue;
    margin-top: 3%;
    text-align: center;
}
.disable{
    display: none;

}
footer section{
    width: 80%;
    margin: 2% auto 2% auto;
}
h4 img{
    width: 30px;
}
address{
    font-style: normal;
    font-family: 'museo';
}
footer{
    background-image: url('../assets/img/images/brent-cox-mid.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 100%;
}
.footer{
    display: grid;
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-areas: 
        'info'
        'support'
        'network'
    ;
    background: rgba($color: #8f8f8f, $alpha: 0.5);
}
.infoFooter{
    grid-area: info;
}
.network{
    grid-area: network;
    background-color: white;

}
.support{
    grid-area: support;
}