@import "scss/_color.scss";
@import "scss/_font.scss";
@import "scss/_desktop";

*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url("../assets/img/images/header.jpg");
    background-repeat: no-repeat;
    background-position: top right;
}
.menu-toggle{
    margin-left: 60%;
    margin-top: 35%;
    width: 30%;
    height: 5%;
    grid-area: label;
}

@media(max-width: 800px){
    .footer{
        display: grid;
        grid-template-rows: 2fr 1fr 2fr;
        grid-template-areas: 
            'info'
            'support'
            'network'
        ;
        
    }
    .infoFooter{
        grid-area: info;
    }
    .network{
        grid-area: network;
    
    }
    .support{
        grid-area: support;
    }
    footer section{
        width: 80%;
        margin: 2% auto 2% auto;
    }
    h4 img{
        width: 30px;
    }
    footer{
        background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 100%;
    }
    header{
        background-size: 250% 70%;
    }
    nav{
        display: none;
    }
    .menu-checkbox:checked ~ nav{
        display: block;
    }
    .menu-toggle span{   
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: $blue;
    }
    .menu-checkbox{
        position: absolute;
        opacity: 0;
        top: -5000%;
    }
    .logo{
        width: 100%;
    }
    .header{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: 
        "logo label"
        "events events"
        ;
        background: linear-gradient(180deg, rgba(33,77,90,0.4) 0%, rgba(33,77,90,0.4) 22%, rgba(0,216,255,0.4) 57%, rgba(244,152,179,0.4) 100%);
    }
    header a {
        grid-area: logo;
        width: 80%;
        height: 40%;
        margin-left: 20%;
        margin-top: 15%;
        
    }
    .events{
        grid-area: events;  
    }
    .events img{
        width: 45%;
        margin-left: 20%;
        margin-top: 10%;
    }
    .eventsTitle{
        margin-left: 42%;
    }
    .events p {
        display: none;
    }
    .activitie:hover{
        background-color: $nav-mobile;
        img, div{
            display: block;
        }
    }
    .activitie img, .activitie div{
        display: none;
    }
    .activitie img{
        width: 80%;
        margin: auto;
    }
    
    .activitie{
        margin: 3% auto 0% auto;
        width: 80%;
        background-color: rgb(240, 240, 240);
        height: 100%;
        p{
            padding: 5% 0% 5% 0%;
            padding-left: 4%;
            font-weight: 500;
        }
        h4{
            padding-top: 5%;
            padding-left: 4%;
        }
    }
    h3{
        margin-top: 3%;
        text-align: center;
    }
    .disableSmart{
        display: none;
    }
    .timeline{
        border: 1px solid $grey;
        width: 80%;
        margin: 5% auto 0 auto;
        height: 300px;
        p{
            margin-top: 5%;
        }
    }
    
}
.inputSee{
    width: 50%;
    height: 10%;
    margin-left: 25%;
    margin-top: 5%;
    border-radius: 100px 100px 100px 100px;
    border: none;
    background-color: $blue;
}
.inputSee:focus{
    border: none;
    outline: none;

}

.disable{
    display: none;

}


footer{
    background-image: url('../assets/img/images/brent-cox-mid.jpg');
    
}
.footer{
    background: linear-gradient(180deg, rgba(33,77,90,0.4) 0%, rgba(33,77,90,0.4) 5%, rgba(0,216,255,0.4) 35%, rgba(244,152,179,0.4) 92%, rgba(244,152,179,0.4) 100%);
}
.network{
    background-color: white;
    border-radius: 5% 5% 5% 5%;
}
